/*Aufbau von CSS
Selektor { 
  Eigenschaft1: Wert; 
  Eigenschaft2: Wert; 
}
Selektor Eins, Selektor Zwei { 
  Eigenschaft: Wert;ö 
bsp. mit body: body für gesamtes Dokument, #body nur für die einzelne ID, .body für eine Class
}
*/
@import url(font.css);

/*Hier beginnt der Body-teil. Hintergrund kann man hier einfügen*/
.body { margin-left: 10px;
	   background-image: url("/images/brainfuck.gif")
}

/*Hier ist die Class von h1*/
.h1 {font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif" 
}

/*p, wird auf alle <p> angewendet*/
p{font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
	
}


/*a, wird auf alle <a> angewendet*/
a{font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"
}

ul.navbar {
    list-style-type: none;
	position:fixed;
	top: 0;
	left: 0;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.navbar li {float: left;}

ul.navbar li a {
    display: block;
	color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover:not(.specialcolor) {background-color: #6A6AFF;}

ul.navbar li a.specialcolor {background-color: #6A6AFF;}

ul.navbar li.right {float: right;}

bodygallery{	
	
}
